.approvedtext{
     font-size: 30px;
    font-weight: bold;
}
.textcontainer{
    display: flex;
    line-height: 3em;
    flex-direction: column;
    margin: 15px;
}
.smalltext{
    line-height: 2em;
    margin: 10px;
}
